body {
    margin: 0%;
    background-color: white;
}
.header-box {
    display: flex;
    font-style: italic;
    color: white;
    background-color: black;
}
.header {
    margin: auto;
    max-width: 1000px;
    flex: 1;
    display: flex;
}
.header h1 {
    font-family: 'Arvo', Georgia, Times, serif;
    margin: auto;
    flex: 3;
}
.header p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin: auto;
    flex: 1;
}
.mid-box {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    display:flex;
}
.mid {
    margin:auto;
    max-width:1000px;
    flex:1;
    display: flex;
    background-color: white;
    padding: 5px;
}
.mid div {
    flex: 1;
    margin: 5px;
}